@page "/"

<PageTitle>Aseguradora</PageTitle>

<h1>Proyecto Aseguradora</h1>

<p> Este es el trabajo final del Seminario de Lenguajes de La Facultad de Informatica - Universidad Nacional de La Plata </p>

<span> Alumnos: Cabello, Agustina y Levis, Marcos.</span>


