@page "/"

<PageTitle>Aseguradora</PageTitle>

<h1>Proyecto Aseguradora</h1>

<p> Este es el trabajo final del Seminario de Lenguajes de La Facultad de Informatica - UNLP </p>

<span> Alumnos: Cabello, Agustina y Levis, Marcos.</span>

<SurveyPrompt Title="How is Blazor working for you?" />
