@page "/Titular/{Dni:int?}"
@inject ObtenerTitularUseCase ObtenerTitularUseCase
@inject ModificarTitularUseCase ModificarTitularUseCase
@inject NavigationManager Navegador

<DialogoError @ref=dialogoError/>

<div style="margin: 25px; margin-left: 0;">
    <span>Modificar Titular</span>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>                
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Correo</th>  
                <th>Accion</th>              
            </tr>
        </thead>

        <tbody>
        
            <tr>
                <td><input type="text"      placeholder="Nombre"       @bind="_titular.Nombre"  /></td>
                <td><input type="text"      placeholder="Apellido"       @bind="_titular.Apellido"  /></td>         
                <td><input type="number"    placeholder="Telefono"   @bind="_titular.Telefono"  /></td>
                <td><input type="text"      placeholder="Direccion"    @bind="_titular.Direccion" /></td>
                <td><input type="text"      placeholder="Correo"       @bind="_titular.Correo"  /></td>
                <td><button @onclick="Modificar">Modificar</button> </td> 
            </tr>
        </tbody>
    </table>
</div>




@code 
{
    Titular _titular = new Titular();
    [Parameter] public int? Dni { get; set; }

    DialogoError   dialogoError = null!;
    protected override void OnParametersSet()
    {
        if (Dni != null)
        {
           
            var titularHallado = ObtenerTitularUseCase.Ejecutar(Dni.Value);
            if (titularHallado != null)
            {
                _titular = titularHallado;
            }
        }
    }

    void Modificar()
    {
        if (_titular.Nombre != "" && _titular.Apellido != "" && _titular.Dni != 0 && _titular.Telefono != 0 && _titular.Direccion != "" && _titular.Correo != "" )
        {
            Console.WriteLine(_titular.Nombre + " asd");
            ModificarTitularUseCase.Ejecutar(_titular);
            Navegador.NavigateTo("Titulares");
        } else
        {
            DebeCompletarTodosLosDatos();
        }
        
    }

    private void DebeCompletarTodosLosDatos()
    {
        dialogoError.Mensaje = $"Debe completar todos los campos";        
        dialogoError.Mostrar();
    }


}