@page "/Siniestro/{Id:int?}"
@inject ObtenerSiniestroUseCase ObtenerSiniestroUseCase
@inject ModificarSiniestroUseCase ModificarSiniestroUseCase
@inject VerificarCoberturaUseCase VerificarCoberturaUseCase
@inject NavigationManager Navegador

<DialogoError @ref=dialogoError/>

<div style="margin: 25px; margin-left: 0;">
    <h4>Modificar Siniestro</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Fecha Ingreso</th>
                <th>Fecha Ocurrencia</th>  
                <th>Direccion</th>  
                <th>Descripcion</th>  
                <th>Accion</th>              
            </tr>
        </thead>

        <tbody>
        
            <tr>
                <td><span type="text" > @s.FechaIngreso</span></td>
                <td><input type="text"      placeholder="FechaOcurrencia"       @bind="s.FechaOcurrencia"  /></td>   
                <td><input type="text"      placeholder="Direccion"       @bind="s.Direccion"  /></td> 
                <td><input type="text"      placeholder="Descripcion"       @bind="s.Descripcion"  /></td>        
                <td><button @onclick="Modificar">Modificar</button> </td> 
            </tr>
        </tbody>
    </table>
</div>




@code 
{
    Siniestro s = new Siniestro();
    [Parameter]  public int? Id { get; set; }
 

    DialogoError   dialogoError = null!;
    protected override void OnParametersSet()
    {
        if (Id != null)
        {
           
            var SiniestroHallado = ObtenerSiniestroUseCase.Ejecutar(Id.Value);
            if (SiniestroHallado != null)
            {
                s = SiniestroHallado;
            }
        }
    }

    DateTime inicial = new DateTime(2000,1,1);
    void Modificar()
    {
        if (!s.FechaIngreso.Equals(inicial) && !s.FechaOcurrencia.Equals(inicial) && s.Direccion != "" && s.Descripcion != "" )
        {           
            if(VerificarCoberturaUseCase.Ejecutar(s.FechaOcurrencia,s.PolizaId))
            {
                ModificarSiniestroUseCase.Ejecutar(s);
                Navegador.NavigateTo("Siniestros");
            }
            else{
                SeguroNoVigente();
            }
        } else
        {
            DebeCompletarTodosLosDatos();
        }
        
    }

    private void DebeCompletarTodosLosDatos()
    {
        dialogoError.Mensaje = $"Debe completar todos los campos";        
        dialogoError.Mostrar();
    }

    private void SeguroNoVigente()
    {
        dialogoError.Mensaje = $"El seguro no está vigente";        
        dialogoError.Mostrar();
    }



}